@import url('https://fonts.googleapis.com/css?family=Nova+Square');

.Clock{
	height:100%;
	width:100%;
	position:fixed;
	font-family: "Nova Square";
}
.DateTimeContainer{
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height:60%;
}
.Time > .clockChar > span{
	display:inline-block;
	width: 16.6%;
	text-align:right;
}
.Date > div{
	width:auto;
	margin:0 auto 0 auto;
	text-align:center;
}