@import url('https://fonts.googleapis.com/css?family=Nova+Square');

.Clock{
	height:100%;
	width:100%;
	position:fixed;
	font-family: "Nova Square";
}
.Time{
	margin-top:10%;
	text-align:center;
}
.Time > div{
	margin:0 auto 0 auto;
	width:65%;
	display:inline-block;
	text-align:left
}
.Date > div{
	width:auto;
	margin:0 auto 0 auto;
	text-align:center;
}